<div id="general">
<h2>Project:</h2>
<b><%= link_to @task.project.name, :controller => :projects, :action => :show, :id => @task.project.id %></b>

<h2>Short description:</h2>
  <b><%= word_wrap(@task.short_description, 80).gsub(/\n/, '<br/>') %></b>
<hr>

<% unless @task.full_description.nil? || @task.full_description == ""%>
<p>
  <b>Full description:</b><br/>
  <%= word_wrap(@task.full_description, 80).gsub(/\n/, '<br/>') %>
</p>
<% end %>

<p>
  <b>Status:</b>
  <%=h @task.status %> (
  <% if @task.status == 'open' %>
    <%= link_to 'Stall task', :controller => :tasks, :action => :stall_status, :id => @task.id %> | 
    <%= link_to 'Close task', :controller => :tasks, :action => :close_status, :id => @task.id %>
  <% elsif @task.status == 'stalled' %>
    <%= link_to 'Reopen task', :controller => :tasks, :action => :open_status, :id => @task.id %>
  <% elsif @task.status == 'closed' %>
    <%= link_to 'Reopen task', :controller => :tasks, :action => :open_status, :id => @task.id %>
  <% end %>
  )
</p>

<p>
  <b>Created at:</b>
  <%=h nice_date(@task.created_at) %>
</p>

<p>
  <b>Last updated at:</b>
  <%=h nice_date(@task.updated_at) %>
</p>

<%= link_to 'Edit task details', edit_task_path(@task) %> | <%= link_to "Destroy", @task, :confirm => 'Are you sure?', :method => :delete %> |
<% if @task.status == 'open' %>
 <%= link_to 'Add step', :controller => :steps, :action => :new %>
<% else %>
<i>Task is closed or stalled. No new steps can be added.</i>
<% end %>
</div>

<div id="pdf">
  <%= link_to 'Show as PDF', :action => :show, :format => 'pdf', :id => @task.id %>
</div>

<div id="details">
<h3>Steps taken in this task</h3>
<% @task.steps.sort_by{|s| s.created_at}.each do |step| %>
<p>
  <i><%= link_to "Step #{step.id}", step_path(step) %>, recorded at <%= nice_date(step.created_at) %>:</i><br/>
  <%= RedCloth.new(step.description).to_html %>
  <hr/>
</p>
<% end %>
</div>

<% if @task.status == 'open' %>
 <%= link_to 'Add step', :controller => :steps, :action => :new %>
<% end %>
