<h1>Editing user</h1>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :login %>
  </p>
  
  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <b>OpenID URL</b><br />
    <%= f.text_field :identity_url %>
  </p>
  

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

