<div id="general">
<p>
  <b>User:</b>
  <%=h @project.user.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b><br/>
  <%= word_wrap(@project.description, 60).gsub(/\n/, '<br/>') %>
</p>

<p>
  <b>Created at:</b>
  <%=h nice_date(@project.created_at) %>
</p>

<p>
  <b>Last updated at:</b>
  <%=h nice_date(@project.updated_at) %>
</p>

<%= link_to 'Edit project details', edit_project_path(@project) %> | 
<%= link_to 'Add workflow', :controller => :workflows, :action => :new %> | 
<%= link_to 'Add task', :controller => :tasks, :action => :new %>
</div>

<div id="details">
<h2>Workflows</h2>

<table border="1">
<tr>
<th>Description</th>
<th>Created at</th>
</tr>
<% @project.workflows.sort_by{|t| t.created_at}.reverse.each do |workflow| %>
<tr>
  <td><%= link_to workflow.description[0,20], :controller => :workflows, :action => :show, :id => workflow.id  %></td>
  <td><%= nice_date(workflow.created_at) %></td>
</tr>
<% end %>
</table>

<h2>Tasks</h2>

<table border="1">
<tr>
<th>Number</th>
<th>Created at</th>
<th>Name</th>
<th>Status</th>
</tr>
<% @project.tasks.sort_by{|t| t.status || t.created_at}.reverse.each do |task| %>
<tr>
  <td><%= link_to task.number, :controller => :tasks, :action => :show, :id => task.id  %></td>
  <td><%= nice_date(task.created_at) %></td>
  <td><%= task.short_description.length > 50 ? task.short_description[0..50] + '...' : task.short_description %></td>
  <td><%= task.status %></td>
</tr>
<% end %>
</table>
</div>
